.App {

  text-align: center;
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;

}

.Colors {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
